
/* Define font name */
@font-face
{
  font-family: dejavu;
  src: url(../fonts/ttf/DejaVuSansMono.ttf);
}

@font-face
{
  font-family: dejavubold;
  src: url(../fonts/ttf/DejaVuSansMono-Bold.ttf);
}

body {
  background-color: #e1dcda;
}

h1 {
  font-family: dejavu;
  font-size: 1.500em;
}
h2 {
  font-family: dejavu;
  font-size: 1.000em;
}

input[type="text"] {
  font-family: dejavu;
}

textarea {
  font-family: dejavu;
}

.button {
  font-family: dejavu;
}

.slider {
  width: 365px;
  height: 469px;
}

#img-description {
  font-family: dejavu;
  font-size: 0.875em;
}

#img-src {
  cursor: pointer;
}
a:link {
  color:#222222;
  text-decoration: none;
}

a:visited {
  color:#222222;
  text-decoration: none;
}

a:hover {
  color:#222222;
  text-decoration: none;
}

a:active{
  color:#222222;
  text-decoration: none;
}

#name_details {
  font-size:14px;
  line-height: 1.2;
  font-family: dejavu;
  color:#939597;
}

#selected-works {
  margin-top: 2.188rem;
}

#title {
  border-bottom: dotted 1px #939597;
  font-family: dejavubold;
}

#selected-works-title {
  font-family: dejavubold;
}

#title-small {
  font-family: dejavubold;
}

#title:hover, #title:focus {
    border-bottom: dotted 1px #0077e9;
    color: #222222; 
    cursor:help;
}

#author-title:hover {
  cursor:help;
}

#header-wrapper {
  height: 3.333em;
}

#content-wrapper {
  margin-top: 1.667em;
}

#details-wrapper {
  margin-top: 0.4em;
}

.small-description {
  font-family: dejavu;
  color:#0077e9;
  line-height: 1.3em;
}
